body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  margin-bottom: 2vw;
  text-align: center;
}

.grid {
  border: 0.1vw solid black;
  height: 24vw;
  width: 28vw;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 4vw;
  width: 4vw;
}

.player1 {
  background-color: red;
  border-radius: 50%;
}
.player2 {
  border-radius: 50%;
  background-color: blue;
}

button {
  background-color: #4caf50;
  color: white; 
  border: none;
  padding: 1vw 2vw;
  font-size: 1vw;
  border-radius: 0.75vw;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 1vw;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}